/*
        CS 125H -Lab 6
		Filename: main.css
		
		Author: Jadon Belezos
		Date 8/13/2019
*/

/* Guide To Navigating The CSS

	The First 50 Lines Of Code Are 
	Element Selectors Which Mostly Setup Layout.
	
	The Second 2 Involve Selectors That Change How Lists Function 
	An Ideally Produce A Pleasing Layout.
	
	AT LINE 57 - interactive CSS!!
	
*/ 
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	width:90%;
	margin: auto;

	background-color: white; /* For browsers that do not support gradients */
	background-image: -moz-linear-gradient(to bottom right,white 45%,  #ff9999 );
	background-image: -o-linear-gradient(to bottom right,white 45%,  #ff9999 );
	background-image: -webkit-linear-gradient(to bottom right,white 45%,  #ff9999 );
    background-image: linear-gradient(to bottom right,white 45%,  #ff9999 );
}
/*  */
h3 {
	font-size:125%;
}

h4 {
	font-size: 110%;
	margin-bottom: 1em;
}
ul {
	list-style-type: none;
}

img {
	width:15em;
	height: auto;
	
	max-width:250px;
	border: 2px dotted rgb(127, 0, 0); /* this is in case some browser don't support alpha channel*/
    border: 2px dotted rgba(255, 0, 0, .5);
	margin:0.5em;
}
header {
	text-align: left;
	margin:auto;
}

header img {
	width: 10%;
	max-width:400px;
	height: auto;
	
   /*  position: relative;
	top: 1.5em;
	left: 1em;  */
	float:left;
	
	border: 1px solid black;
}

header h1 {
	font-size: 250%;
	text-decoration:underline;
	text-align: center;
	
	
    margin-bottom: 0.4em;
}

/*IMPORTANT THIS CONTAINS CODE FOR FLOAT. */
nav {
	clear:left;
	float: left;
	width:20%;
	background-color: #ffff99;
	min-height: 100vh; /* Note This Is Not Percent It Is Size Of Screen */
	
	padding-left: 0.5em;
	border: 3px solid red;
	margin-right: 2em;
	margin-left: 2em;
}


nav li {
	margin: .5em;
}

nav a {
	display: block; /* make surrounding block click-able */
	font-size: 160%;
	font-weight: bold;

	text-decoration: none;
	padding: .1em;
	
}


nav a:hover,nav a:focus, nav a:active {
	font-size:165%
}

nav a:link {
	color: red;
}

nav a:visited {
	color: hotpink;
}

nav a.current {
	background-color: silver;
}

main {
	width: 65%;
	margin: auto;
	padding: 1em;
}

/* SECTION 2 */
/* Rachel made comment about title should change color
	currently unsure of what to change to!
	
	
	To understand my reasoning for using 
	the class selectors rather than, simply element selectors.
	I believe it gives the element I am referring to be understood with its purpose within, 
	the web page, there maybe more ul that I put in the page later. 
	that I dont want to be referenced the same as 
	food_list
*/


#banner {
	width: 10%;
	padding: 0.5em;
	
	
	position:fixed;
	top:1.5em;
	right:1em;
	
	border: 3px double red;
}

.food_list {
	padding: 0;
	width: 80%;
	margin: auto;
	
}
.food_list li:first-child {
	margin-top: 1.5em;
}

.food_list li {
	padding: 3em 0em; 
	margin: 1em; /*should margin collapse */ 
	
	border: 2px dotted rgb(127, 0, 0); /* this is in case some browser don't support alpha channel*/
    border: 2px dotted rgba(255, 0, 0, .5);
	
	/* This is so that backgrounds don't overwrite borders */
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	
}
.food_list  p {
	width: 75%;
	margin: auto;
	
}

#place_list {
	width: 80%;
	margin: auto;
	text-align: left;
}
#place_list li {
	padding: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 2px dotted rgb(127, 0, 0); /* this is in case some browser don't support alpha channel*/
    border: 2px dotted rgba(255, 0, 0, .5);
}

#place_list img {
	float: left;
	
}

/* some items more specific to sources page. */ 

#source_list li {
	
	margin: 1em;
	
}
#source_list li ul {
	list-style-type: dotted;
	padding-top:  0.2em;
	padding-left: 4em;
}


/* remaining styles for the footer */
footer {
	clear: both;
	margin: 3em auto;
	
}

footer p {
	font-style: italic;
}

@media only screen and (max-width: 767px){
	body {
		font-size:110%;
	}
	
	header img {
		width: 7.5%;
	}
	
	#banner {
		display: none;
	}
	nav {
		font-size: 75%;
	}
	
}